/* Mobile */
@media ( max-width: 740px) {
    #nav {
        display: block;
    }

    #nav li {
        display: block;
    }

    #nav li a {
        padding : 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position:initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding : 5px 41px;
    }

    #nav .subnav a:hover {
        color : #000000
    }

    #header {
        overflow: hidden;
    }

    #header .search-button {
        display: none;
    }

    #header .mobile-bars-btn {
        display:block;
    }
    
}